<a href="https://colab.research.google.com/github/migueldev81/data-analyst-python/blob/main/Analisis_de_datos_%7C_Smartphone_Company_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análisis de datos | Empresa de teléfonos inteligentes

Este análisis de datos se basa en las ventas realizadas por una empresa de teléfonos inteligentes.
Como base de datos tengo un archivo excel con el reporte de todas las ventas realizadas.


### 1) Obtenga el Total (precio) de las ventas realizadas de la Marca Samsung

### 2) Obtenga cuántos teléfonos inteligentes de la categoría Premium de la marca Apple se vendieron en 2021

## Import / Read

In [ ]:
import pandas as pd
path = 'dataset.xlsx'
df = pd.read_excel(path, sheet_name='Principal')

# 1) Obtenga el Total (precio) de las ventas realizadas de la Marca Samsung

In [ ]:
# filtrar ventas por marca samsung
df_samsung = df.loc[df["Marca"] == "Samsung"]
# suma del total de df_samsung
suma = sum(df_samsung["Total"])
# resultado
print("Total: $"+str(float(suma)))

KeyError: ignored

# 2) Obtenga cuántos teléfonos inteligentes de la categoría Premium de la marca Apple se vendieron en 2021

In [ ]:
#Filtar por marca Apple
df_apple = df.loc[df["Marca"] == "Apple"]
#Filtrar por Categoria
df_apple_premium = df_apple.loc[df_apple["Categoría"] == "Premium"]
#Filtar por año 2021
df_apple_premium["Fecha"] = pd.to_datetime(df_apple_premium['Fecha'])
df_apple_premium_year = df_apple_premium.loc[df_apple_premium['Fecha'].dt.year == 2021]

df_apple_premium_year.head()

<ipython-input-12-70d2d605bb57>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_apple_premium["Fecha"] = pd.to_datetime(df_apple_premium['Fecha'])

,Id,Fecha,IdProducto,Marca,Producto,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
2,6,2021-09-03,12,Apple,iPhone 11 Apple 64 GB Negro,...,NaN,NaN,NaN,NaN,NaN
15,72,2021-12-26,12,Apple,iPhone 11 Apple 64 GB Negro,...,NaN,NaN,NaN,NaN,NaN
22,113,2021-12-13,12,Apple,iPhone 11 Apple 64 GB Negro,...,NaN,NaN,NaN,NaN,NaN
30,137,2021-11-30,12,Apple,iPhone 11 Apple 64 GB Negro,...,NaN,NaN,NaN,NaN,NaN
34,145,2021-11-03,12,Apple,iPhone 11 Apple 64 GB Negro,...,NaN,NaN,NaN,NaN,NaN